* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
}

.mtc-info {
  display: flex;
  
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  font-size: larger;
}

hr {
  width: 100%;
  border: 1px solid #666;
}

h3 {
  font-weight: lighter;
  color: #999;
  /* font-size: small; */
}
p {
  margin-bottom: large;
}

span {
  font-weight: 900;
  font-size: xx-large;
  letter-spacing: 0.3rem;
  vertical-align: middle;
}

.midi-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 0.5rem;
}

.midi-selection select {
  margin: 0 1rem;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #111;
}

#copyright,
#copyright p,
#copyright a {
  font-size: small;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}
